.container {
    text-align: center;
    background-color: beige;
    width: 70%;
    margin: auto;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button {
    padding: 10px 15px;
    font-size: 1.5rem;
    color: white;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .25s;
}

button:hover {
    background-color: rgb(95, 230, 230);
}

button:active {
    background-color: rgb(17, 204, 204);
}

input {
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
} 

#diceResult {
    margin: 25px;
}

#diceImages img {
    width: 150px;
    margin: 5px;
}

